.page {
  padding-block: 100px;
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-image-color_1) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--bg-image-color_1) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--bg-image-color_2) 0.01%, var(--bg-image-color_3));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-font-weight);
}

.adaptive-width {
  inline-size: 100%;
}

.dialog {
  margin: auto;
  border: 2px solid var(--accent-color);
  padding: 30px 40px;
  background-color: var(--bg-color);
  inline-size: 341px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__icon {
  position: relative;
  z-index: 5;
  fill: var(--button-hover-color);
  stroke: 1px var(--button-hover-color);
  inline-size: 39px;
  mix-blend-mode: difference;
}

.dialog__button {
  padding: 9px 17px;
  block-size: 38px;
  inline-size: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 102px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  background-color: inherit;
}

.header__logo {
  margin: 32.5% 0 21px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block: 23px 24px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transform: translateX(11px);
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease, opacity 0.3s ease;
  inset-block-end: -2px;
  inline-size: 0%;
  block-size: 2px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: drifting 0.5s infinite ease-in-out alternate;
  inset-inline-start: -19px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}

.card {
  border: 2px solid var(--accent-color);
  font-size: 18px;
  background-color: var(--bg-color);
  inline-size: 100%;
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card__image-box {
  position: relative;
  display: flex;
  block-size: 100%;
}

.card__image {
  border-block: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__image-label {
  position: absolute;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 30px 0 25px;
}

.card__article {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 116.667%;
}

.card__like-section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  padding: 25px;
}

.card__heart-button {
  display: flex;
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  transition: border 0.3s ease;
  cursor: unset;
  block-size: 38px;
}

.card__heart-button:focus {
  outline: none;
}

.card__heart-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.heart {
  cursor: pointer;
}

.card__like-button {
  padding: 9px 17px;
  cursor: pointer;
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 5;
  color: var(--button-hover-color);
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.anim-button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
}

.anim-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
  inline-size: 0%;
}

.anim-button:hover::after {
  inline-size: 100%;
}

.anim-button:focus {
  outline: none;
}

.anim-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 4px auto 100px;
  padding: 15px 20px;
}

.save-button-icon {
  position: relative;
  z-index: 5;
  fill: var(--button-hover-color);
  stroke: 1px var(--button-hover-color);
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.card__image-filter_1 {
  filter: sepia(40%);
}

.card__image-filter_2 {
  filter: contrast(43%);
}

.card__image-filter_3 {
  filter: brightness(21%);
}

.card__image-filter_4 {
  filter: hue-rotate(76deg);
}

.card__image-filter_5 {
  filter: blur(7px);
}

.card__image-filter_6 {
  filter: brightness(2) invert(1) grayscale(1);
}

.card__image-filter_7 {
  filter: brightness(1.5) saturate(100) blur(5px) contrast(5);
}

.card__image-filter_8 {
  filter: saturate(200%);
}

@media (width >= 376px) {
  .dialog {
    padding: 30px;
    inline-size: 357px;
  }

  .adaptive-width {
    inline-size: clamp(376px, 48.5%, 696px);
  }

  .header__logo {
    margin-block-start: 19.5%;
    max-inline-size: 696px;
  }

  .card__image-box {
    display: block;
  }

  .save-button {
    flex-direction: row;
  }

  .save-button-icon {
    inline-size: 21px;
    block-size: 21px;
  }
}
