:root.theme-dark {
  --title-font-weight: 785;
  --text-font-weight: 465;
  --accent-color: #00cc14;
  --button-hover-color: #00cc14;
  --bg-image-color_2: #007f0c;
  --bg-image-color_3: #004306;
  --bg-color: #000;
  --bg-image-color_1: #000;
  --heart-color: #ff0000;
}

:root.theme-light {
  --title-font-weight: 700;
  --text-font-weight: 400;
  --bg-image-color_1: #d3d3d3;
  --bg-image-color_2: #e7e7e7;
  --bg-image-color_3: #1a1a1a;
  --bg-color: #fff;
  --accent-color: #000;
  --heart-color: #ff0000;
  --button-hover-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --text-font-weight: 465;
    --bg-image-color_2: #007f0c;
    --bg-image-color_3: #004306;
    --accent-color: #00cc14;
    --button-hover-color: #00cc14;
    --bg-color: #000;
    --bg-image-color_1: #000;
    --heart-color: #ff0000;
  }
}
